body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    text-align: center; 
    font-family: Arial, sans-serif;
    background: #ffffff; 
    position:relative;
}

.logo {
    width: 30%;
    padding: 10px;
}

.card {
    display: flex; 
    width: 75%;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 8px;
}

.main {
    color: #03ce47;
    background-color: #03ce47;
    height:50%;
    width:40px;
    
}

.question-container {
    display: flex;
    gap:2rem;
    align-items:center;
   width:100%;
}

.accessibility-menu {
    display: none;
    position: fixed;
    top: 50px;
    right: 50px;
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}



.optionContainer {
    margin-top:1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.option {
    border: 2px solid transparent; 
    display: block;
    align-items: center;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    max-width: 14rem;
}

.accessibility-btn {
padding: 1rem;
margin: 0 10px;
}

.accessibility-btn img {
    max-width: 50%;
    max-height:50%;
}

.option-image {
}

.option-text {
    display: block;
}

.option:hover {
    outline: 5px dashed green; 
    border-radius: 20px;
    transition: all 0.1s ease; 
}

.selected {
    outline: 5px dashed green; 
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    background-color: #cccccc;
}

#slider {
    position: relative;
    top:2rem;
    width: calc(84%);
}

.consent-content {
    margin: 20px 0;
    height: 300px;
    overflow-y: auto;
    text-align: justify;
    line-height: 1.6; 
    font-size: 16px; 
    color: #333; 
    padding: 0 10px; 
}

button {
    width: 150px;
    padding: 10px 20px;
    font-size: 20px;
    color: white;
    background-color: #3b9b2f;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.questionBar {
    font-size: 16px; 
    display: flex; 
    width:100%;
    padding: 20px;
    box-shadow: 0 0 10px 5px rgba(0,0,0,0.1);
    border-radius: 20px;
}

.back-button {
 
    top: 10px; 
    left: 10px; 
    padding: 10px;
    display: flex;
    background-color: #3b9b2f;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 80px;  
    height: 80px;
}

.next-button {
    background-color: #3b9b2f;
    position:relative;
    top:2rem;
}

button:hover {
    background-color: #03ce47;
}



